<%= form_with model: @article, local: true do |form| %>

  <% if @article.errors.any? %>
  <div id="error_explanation" class="notification is-danger has-text-black">
  <button class="delete"></button>
  <strong><%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:</strong>
              <ul class="list">
        <% @article.errors.full_messages.each do |msg| %>
          <li class="list-item"><%= msg %></li>
        <% end %>
      </ul>
</div>
  <% end %>



<div class="field">
  <div class="control">
  <%= form.text_field :title, class: "input", placeholder: "Title" %>
  </div>
</div>

<div class="field">
  <div class="control">
  <%= form.text_area :text, class: "textarea", placeholder: "Post content" %>
  </div>
</div>

<div class="field">
  <div class="control">
    <%= form.submit :class => "button" %>
  </div>
</div>

<% end %>
