<section class="section">
<div class="container">
<h1 class="title">Posts</h1>
<a href="<%= new_article_path %>">
<button class="button"> New Post </button>
</a>
<div class="article-wrapper">

  <% @articles.each do |article| %>
  <div class="article-card">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
        <%= article.title %>
        </p>
      </header>
      <div class="card-content">
        <div class="content">
        <%= article.text %>
        </div>
      </div>
      <footer class="card-footer">
        <%= link_to 'Show', article_path(article), class: 'card-footer-item' %>
        <%= link_to 'Edit', article_path(article), class: 'card-footer-item' %>
        <%= link_to 'Delete', article_path(article),
                  method: :delete,
                  data: { confirm: 'Are you sure?' },
                  class: 'card-footer-item' %>
      </footer>
    </div>
    </div>
 <% end %>

</div>
</div>
</section>